{
  "client": {
    "name": "{{ LuxHostname }}",
    "address": "{{ LuxIP }}",
    "subscriptions": ["cpu","disk","network","load","memory","strongswan","tcp","udp","linux-165"],
        "keepalive": {
                "thresholds": {
                        "warning": 120,
                        "critical": 180
                        }
                }
        }
}

