[default]
filename = /var/log/suricata/eve.json
local_subnet = {{ SecNetwork }}/{{ SecPrefix }}
public_subnet = {{ PriNetwork }}/{{ PriPrefix }}
public_subnet1 = {{ Public_SecNetwork }}/{{ Public_SecPrefix }}
