#!/usr/bin/expect -f
set timeout 30
spawn virsh console killping
expect "Escape character is ^]"
send "\r"
expect "kp-37-02-01 login: "
send "rootadmintek\r"
expect "Password: "
send "M1UCVCf/5K>M\r"
expect "rootadmintek@kp-37-02-01:~$ "
send "sudo -S <<< \"M1UCVCf/5K>M\" sed -i '1 c\\{{ KHostname }}' /etc/hostname\r"
expect "rootadmintek@kp-37-02-01:~$ "
send "sudo -S <<< \"M1UCVCf/5K>M\" sed -i '11 c\\        address {{ KIP }}' /etc/network/interfaces\r"
expect "rootadmintek@kp-37-02-01:~$ "
send "sudo -S <<< \"M1UCVCf/5K>M\" sed -i '12 c\\        netmask {{ netmask }}' /etc/network/interfaces\r"
expect "rootadmintek@kp-37-02-01:~$ "
send "sudo -S <<< \"M1UCVCf/5K>M\" sed -i '13 c\\        network {{ network }}' /etc/network/interfaces\r"
expect "rootadmintek@kp-37-02-01:~$ "
send "sudo -S <<< \"M1UCVCf/5K>M\" sed -i '14 c\\        broadcast {{ broadcast }}' /etc/network/interfaces\r"
expect "rootadmintek@kp-37-02-01:~$ "
send "sudo -S <<< \"M1UCVCf/5K>M\" sed -i '15 c\\        gateway {{ gateway }}' /etc/network/interfaces\r"
interact


