#!/bin/bash

pip install requests
yum -y install iperf3
cd /var/lib/
git clone https://purevpnautobot:gaditek123\!@bitbucket.org/devopsauto/iperf-client.git
cd 
ln -f /var/lib/iperf-client/iperftester.service /etc/systemd/system
ln -s /var/lib/iperf-client/iperftester.service /etc/systemd/system
cp /var/lib/iperf-client/iperftester /etc/logrotate.d/
systemctl daemon-reload

    if [[ "{{ ISO_Code }}" == "US" || "{{ ISO_Code }}" == "HK" || "{{ ISO_Code }}" == "SG" || "{{ ISO_Code }}" == "NL" || "{{ ISO_Code }}" == "CA" || "{{ ISO_Code }}" == "DE" || "{{ ISO_Code }}" == "AU" || "{{ ISO_Code }}" == "FR" || "{{ ISO_Code }}" == "JP" || "{{ ISO_Code }}" == "SE" || "{{ ISO_Code }}" == "BE" || "{{ ISO_Code }}" == "MY" || "{{ ISO_Code }}" == "GB" ]]
    then
    systemctl enable iperftester
    sleep 10
    systemctl restart iperftester
     
    else
    systemctl disable  iperftester
    systemctl stop iperftester
    fi

